#collection of buckets
apiVersion: apps/v1
kind: Deployment
metadata:
  name: event-bus-depl
spec:
  replicas: 1
  #take a look of all created pods with the name event-bus
  selector:
    matchLabels:
      app: event-bus
  #exact configuration of the pod to create
  template:
    metadata:
      labels:
        #kind of css classes
        app: event-bus
    #pod configuration
    spec:
      containers:
      - name: event-bus
        image: fanmixco/event-bus:latest
        #imagePullPolicy: Never
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: event-bus-srv
spec:
  selector:
    app: event-bus
  ports:
    - name: event-bus
      protocol: TCP
      port: 4005
      targetPort: 4005